.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 1.5rem;
  padding: 1rem;
  width: 400px;
  height: 400px;
  background-color: var(--color-secondary);
}
.optionBox {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.icons {
  margin-right: 0.5rem;
}
.optionBox > label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 40px;
  border: solid 1px var(--color-outline);
  border-radius: 1rem;
  color: var(--color-primary);
}
.optionBox > label:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.optionBox > input[type='radio'] {
  appearance: none;
}
.optionBox input[type='radio']:checked + label {
  background-color: var(--color-primary);
  color: var(--color-primary-text);
}
.button {
  height: 40px;
  width: 45%;
  border: none;
  border-radius: 1rem;
  color: var(--color-primary-text);
  background-color: var(--color-teritary-dark);
  font-size: large;
  font-weight: bold;
}
.button:hover {
  background-color: var(--color-error-dark);
}
