:root {
  --color-background: #feffd7;
  --color-text: #1c1c17;
  --color-primary: #5b6300;
  --color-primary-text: #ffffff;
  --color-secondary: #e4e5c1;
  --color-secondary-text: #1b1d07;
  --color-tertiary: #a2d0c0;
  --color-teritary-text: #002019;
  --color-teritary-dark: #3c665a;
  --color-error: #ffb4ab;
  --color-error-text: #410002;
  --color-error-dark: #ba1a1a;
  --color-outline: #787869;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;

  color: var(--color-text);
  background-color: var(--color-background);
}
header {
  margin: 2rem 0;
  width: 700px;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root {
  overflow: auto;
}
