.div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-error);

  width: 500px;
  height: 200px;

  margin-top: 5rem;
  padding: 1rem;

  border-radius: 1rem;
}
.link {
  display: flex;
  align-items: center;

  padding: 0.6rem 1rem;
  text-decoration: none;
  border-radius: 0.7rem;

  color: var(--color-primary-text);
  background-color: var(--color-primary);
}
.link:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
